<div style="margin: 2rem">

  <h2> Choose a Pokemon to learn more about it.</h2>
  <mat-form-field appearance="fill">
    <mat-label>Choose a Pokemon</mat-label>
    <mat-select [disabled]="disableSelect.value" [(ngModel)]="pokemon.selected"  #pokemonSelect
                (ngModelChange)="getPokemonData()">
      <mat-option *ngFor="let poke of pokemon.list" [value]="poke">
        {{poke['name']}}</mat-option>
    </mat-select>
  </mat-form-field>


<!--  todo move card data into a new component -->

  <mat-card class="example-card" *ngIf="pokemon.loaded.data">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{pokemon.selected.name}}</mat-card-title>
      <mat-card-subtitle>{{extractPokemonTypes()}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{pokemon.data.sprites.front_default}} alt="Pokemon" style="max-width:500px;width:100%">
    <mat-card-content>
      <p>
<!--        todo add card details-->
      </p>
    </mat-card-content>
  </mat-card>


</div>



